[Desktop Entry]
Type=Application
Exec=/home/dan/apps/xflux -z 98116
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=flux
Name=flux
Comment[en_US]=
Comment=
